<!-- Button trigger modal -->
<div class="d-grid">
    <button
      class="btn btn-outline-info"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      Güncelle
    </button>
  </div>
  
  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel" style="color: black">
            Güncelle
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="carUpdateForm" style="color: black">
            <div class="form-group mb-3">
              <label for="brandId">Marka</label>
              <select class="form-select" formControlName="brandId">
                <option
                  *ngFor="let brand of brands"
                  selected="{{ carForUpdate.brandName }}"
                  [ngValue]="brand.brandId"
                >
                  {{ brand.brandName }}
                </option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label for="colorId">Renk</label>
              <select class="form-select" formControlName="colorId">
                <option
                  *ngFor="let color of colors"
                  selected="{{ carForUpdate.colorName }}"
                  [ngValue]="color.colorId"
                >
                  {{ color.colorName }}
                </option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label for="modelYear">Model Yılı</label>
              <input
                type="number"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="{{ carForUpdate.modelYear }}"
              />
            </div>
            <div class="form-group mb-3">
              <label for="dailyPrice">Günlük Fiyat </label>
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="{{ carForUpdate.dailyPrice }}"
              />
            </div>
            <div class="form-group mb-3">
              <label for="_description">Model </label>
              <input
                type="text"
                id="_description"
                formControlName="_description"
                class="form-control"
                placeholder="{{ carForUpdate.carName }}"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-fill btn-outline-info" (click)="carUpdate()">
            Ekle
          </button>
        </div>
      </div>
    </div>
  </div>