<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded!=false" class="table table-dark -table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Brand</td>
            <td>Full Name</td>
            <td>Rent Date</td>
            <td>Return Date</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentalDetails">
            <td>{{rental.rentalId}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.fullName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
        </tr>
    </tbody>
</table>