<div class="mb-3">
    <label for="filterText" class="form-label">Arama</label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Brand"
    />
  </div>
  <div *ngIf="filterText.length > 2" class="alert alert-success">
    {{ filterText }} aradınız
  </div>
  
  <ul class="list-group">
    <li [class]="getAllBrandClass()" routerLink="/admin/cars" (click)="cleanCurrentBrand()">Tüm Araçlar</li>
    <li (click)="setCurrentlyBrand(brand)" routerLink="/admin/cars/brand/{{brand.brandId}}" *ngFor="let brand of brands |filterBrandPipe:filterText"  [class]="getCurrentBrandClass(brand)">
      {{ brand.brandName }}
    </li>
  </ul>
  <br />
  <!-- <ul class="list-group">
    <li class="list-group-item">Renkler</li>
    <li class="list-group-item">Müşteriler</li>
  </ul> -->
  