<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded!=false" class="table table-dark -table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Brand</td>
            <td>Color</td>
            <td>Car</td>
            <td>Model Year</td>
            <td>Daily Price</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars" routerLink="/cars/carDetail/{{car.carId}}">
            <td>{{car.carId}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.carName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}}</td>
        </tr>
    </tbody>
</table>