<div class="card" style="width: 22.5rem">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div
          *ngFor="let detail of carImageDetails; index as i; first as firstImage"
          class="carousel-item"
          [ngClass]="{ active: firstImage }"
        >
          <img
            [src]="imagePath + detail.imagePath"
            class="card-img-top d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div *ngIf="carDto" class="card-body">
      <h5 class="card-title">{{ carDto.carName }}</h5>
    </div>
    <ul *ngIf="carDto" class="list-group list-group-flush">
      <li class="list-group-item">
        Marka:
        <h5 class="d-inline">{{ carDto.brandName }}</h5>
      </li>
      <li class="list-group-item">
        Renk:
        <h5 class="d-inline">{{ carDto.colorName }}</h5>
      </li>
      <li class="list-group-item">
        Model/Yıl:
        <h5 class="d-inline">{{ carDto.modelYear }}</h5>
      </li>
      <li class="list-group-item">
        Günlük Fiyat:
        <h5 class="d-inline">{{ carDto.dailyPrice }}</h5>
      </li>
    </ul>
    <div class="card-body d-grid">
      <button
        class="btn btn-outline-primary"
        data-bs-toggle="modal"
        href="#exampleModalToggle"
      >
        Kirala
      </button>
      <app-car-update *ngIf="carDto" [carForUpdate]="carDto"></app-car-update>
    </div>
  </div>
  <div
    class="modal fade"
    id="exampleModalToggle"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Kiralama</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="rentalAddForm">
            <div class="form-group mb-3">
              <label for="carId">Customer</label>
              <select id="carId" class="form-select" formControlName="customerId">
                <option
                  *ngFor="let customer of customers"
                  selected="{{ customer.companyName }}"
                  [ngValue]="customer.id"
                >
                  {{ customer.companyName }}
                </option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label for="rentDate">Başlangıç Tarihi</label>
              <input
                type="date"
                id="rentDate"
                formControlName="rentDate"
                class="form-control"
              />
            </div>
            <div class="form-group mb-3">
              <label for="day">Kaç Gün</label>
              <input
                type="number"
                id="day"
                class="form-control"
                min="1"
                max="15"
                required
              />
            </div>
            <!-- <button (click)="clicked()">gönder</button> -->
          </form>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            (click)="dayClick()"
            data-bs-target="#exampleModalToggle2"
            data-bs-toggle="modal"
            data-bs-dismiss="modal"
          >
            Ödeme İşlemi
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="exampleModalToggle2"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Ödeme İşlemi</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group mb-3">
              <div *ngFor="let payment of payments">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    (click)="kartClick(payment.id)"
                    id="flexRadioDefault1"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Kartını Seç
                  </label>
                </div>
                <div class="card" style="width: 18rem">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ payment.nameOnTheCard }}</li>
                    <li class="list-group-item">{{ payment.cardNumber }}</li>
                    <li class="list-group-item">{{ payment.cardCvv }}</li>
                    <li class="list-group-item">{{ payment.expirationDate }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal"
            data-bs-dismiss="modal"
          >
            Geri
          </button>
          <button
            class="btn btn-success"
            (click)="rentalAdd()"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Siparişi Tamamla
          </button>
        </div>
      </div>
    </div>
  </div>
  